
body {
    background-color: rgb(0, 0, 0); /* Fundo azul claro */
    color: rgb(0, 255, 0); /* Texto magenta */
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    

}

@media screen and (max-width: 600px) {
    .container table {
      margin: 20
    }
  }



.container {
    width: 300px;
    margin: auto;
    border: 6px solid rgb(0, 255, 0); 
    padding: 50px;
    background-color: #000000; 
}
h1 {
    text-shadow: 2.5px 2.5px rgb(0,0,255); /* Sombra de texto azul */
}
.button {
    width: 100px;
    height: 20px;
    margin: 1px;

    display: inline-block;
    padding: 2,5px 5px;
    background-color: rgb(0, 255, 0);
    color: #000000;
    border: 2px solid rgb(0,0,255);
    text-decoration: none;
    box-shadow: 2px 2px rgb(0,0,255);
}
.button:hover {
    background-color: rgb(255, 0, 255);
}
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
.blinking {
    animation: blink 2s infinite;
}

table {
    margin-left: 45px;
    margin-right: auto;
}

table td {
    text-align: center;
}
a[href='https://ufmg.br/cursos/graduacao/2412/91225'] {
    color: rgb(255, 0, 255)
}
footer a {
    color: rgb(255, 0, 255)
}